/* custom styles can go here */

#chapter-foo p {
	text-transform: uppercase;
}
/*reset the logo styles*/
#hello #logo{
	 background: initial;
	 border: initial;
	 box-shadow:initial;
}
#hello h3 {
	color: white;
}
#hello #version {
	color: white;
	text-align: right;
	margin-bottom: -50px;
	font-weight: normal;
	line-height: 1.2;
	letter-spacing: -0.08em;
	text-transform: uppercase;
	text-shadow: none;
	word-wrap: break-word;
}
#hello .typed-js{
	font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
	margin-top: -150px;
	position: absolute;
	left: 25px;
	font-size: 3.2em;
	color: white;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
#hello #scales{
	color: white;
	margin-top: -60px;
	margin-left: -180px;
	position: absolute;
}
#why-why  p img.pull-right {
	position: absolute;
	top:350px;
	right: 0px;
	width: 400px;
	height: 400px;
	background: initial;
	border: initial;
	box-shadow:initial;
	z-index: 100;
}

#why-why  div img.pull-left {
	position: absolute;
	top:440px;
	left: 300px;
	/*width: 400px;*/
	/*height: 400px;*/
	background: initial;
	border: initial;
	box-shadow:initial;
	z-index: -100;
}
pre code{
	background:white;
}

#where-to-next p{
	text-align:center;
}
#where-to-next p a{
	font-size:5px;
}
/* why tooling*/
#why-tooling img {
	width: 100px;
	height: 100px;
	background: initial;
	border: initial;
	box-shadow:initial;
}
#why-tooling table {
	margin-top:-100px;
}
#why-tooling table td{
	border:none;
}

/* why future*/
#why-future img {
	background: initial;
	border: initial;
	box-shadow:initial;
}

#why-future #features {
	position:absolute;
	top:30px;
	right:20px;
}
#why-future #features-next {
	position:absolute;
	top:30px;
	right:-40px;
}